doctype

html

  //- You can include other Jade files
  include ./head.jade

  //- Define the body
  body

    div

      // ---------- LOOPING ----------

      //- You can use for loops to cycle through data
      - qbs = ['Americo', 'Tomas', 'Ana', 'Batalha']

      ul
        - for(i = 0; i < qbs.length; i++){
            li= qbs[i]
        - }

      //- Each is used to iterate over arrays and objects
      ul
        each qb in qbs
          li= qb

      //- While loops iterate as long as the condition is true
      - i = 0

      ul
        while i < 20
          li= i
          - i++;
